car simulator flow.json
[{"id":"6b11cc7e.296104","type":"tab","label":"Car Simulator","disabled":false,"info":""},{"id":"4264e0a9.63774","type":"inject","z":"6b11cc7e.296104","name":"","topic":"","payload":"{\"name\":\"car1\",\"lon\":31.235873,\"lat\":30.044552}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"","x":130,"y":60,"wires":[["44822cdc.a9a714","9dd695c3.0d8fb8"]]},{"id":"44822cdc.a9a714","type":"debug","z":"6b11cc7e.296104","name":"","active":false,"console":"false","complete":"false","x":550,"y":60,"wires":[]},{"id":"9dd695c3.0d8fb8","type":"function","z":"6b11cc7e.296104","name":"","func":"var step=flow.get('step') || 0;\n\nvar lonStep = step*0.0001 ;\nmsg.payload.lat = msg.payload.lat;\nmsg.payload.lon = msg.payload.lon + lonStep;\n\nif(step >= 50)\n{\n    step = 0;\n}\nstep++;\nflow.set('step',step);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["8a2c6212.945a","a64ce9a4.191038"]]},{"id":"1ef5f577.25160b","type":"ibmiot out","z":"6b11cc7e.296104","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"car1","deviceType":"Car","eventCommandType":"location","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":220,"wires":[]},{"id":"8a2c6212.945a","type":"change","z":"6b11cc7e.296104","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["1ef5f577.25160b"]]},{"id":"fdbf1ed2.cfc8d","type":"cloudant out","z":"6b11cc7e.296104","name":"","cloudant":"","database":"car-park","service":"node-red-qfzor-cloudant-1582807170414-15780","payonly":true,"operation":"insert","x":740,"y":340,"wires":[]},{"id":"a64ce9a4.191038","type":"function","z":"6b11cc7e.296104","name":"","func":"msg.payload = {\n      \"geometry\": {\n    \"type\": \"Point\",\n    \"coordinates\": [msg.payload.lon, msg.payload.lat]\n  }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["67102bb.ff3f2d4","fdbf1ed2.cfc8d"]]},{"id":"67102bb.ff3f2d4","type":"debug","z":"6b11cc7e.296104","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":460,"wires":[]}]
