car simulator flow.json
[{"id":"21706e4f.30d3d2","type":"tab","label":"Car Simulator","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"21706e4f.30d3d2","name":"","topic":"","payload":"{\"name\":\"car1\",\"lon\":31.235873,\"lat\":30.044552}","payloadType":"json","repeat":"5","crontab":"","once":true,"onceDelay":"","x":130,"y":60,"wires":[["f2f2649a.0d0d98","40e72314.a5365c"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"21706e4f.30d3d2","name":"","active":false,"console":"false","complete":"false","x":550,"y":60,"wires":[]},{"id":"3734093e.9c7c26","type":"worldmap","z":"21706e4f.30d3d2","name":"","lat":"30.0444","lon":"31.2357","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":540,"y":160,"wires":[]},{"id":"40e72314.a5365c","type":"function","z":"21706e4f.30d3d2","name":"","func":"var step=flow.get('step') || 0;\n\nvar lonStep = step*0.0001 ;\nmsg.payload.lat = msg.payload.lat;\nmsg.payload.lon = msg.payload.lon + lonStep;\n\nif(step >= 50)\n{\n    step = 0;\n}\nstep++;\nflow.set('step',step);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["3734093e.9c7c26","83825202.01c33","62b24612.732d58"]]},{"id":"9a222440.4947a8","type":"ibmiot out","z":"21706e4f.30d3d2","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"car1","deviceType":"Car","eventCommandType":"location","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":220,"wires":[]},{"id":"83825202.01c33","type":"change","z":"21706e4f.30d3d2","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.d","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["9a222440.4947a8"]]},{"id":"f0bddc58.93ef1","type":"cloudant out","z":"21706e4f.30d3d2","name":"","cloudant":"","database":"car-park","service":"node-red-qfzor-cloudant-1582807170414-15780","payonly":true,"operation":"insert","x":740,"y":340,"wires":[]},{"id":"62b24612.732d58","type":"function","z":"21706e4f.30d3d2","name":"","func":"msg.payload = {\n      \"geometry\": {\n    \"type\": \"Point\",\n    \"coordinates\": [msg.payload.lon, msg.payload.lat]\n  }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":360,"wires":[["246684bd.83c39c","f0bddc58.93ef1"]]},{"id":"246684bd.83c39c","type":"debug","z":"21706e4f.30d3d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":460,"wires":[]}]