object-detection.json
[{"id":"29f3b5e2.835642","type":"tab","label":"Object detection example flow","disabled":false,"info":"This flow uses the https://developer.ibm.com/exchanges/models/all/max-object-detector/ deep learning model from the Model Asset Exchange to localize and identify multiple objects in a single image. Refer to the documentation for information about the returned message.\n\nInstall the following three modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n - [node-red-contrib-image-output](https://npmjs.org/package/node-red-contrib-image-output)\n \n> Note: The object-detector node has been pre-configured to use a hosted model evaluation instance. We recommend using your own local or cloud instance for purposes other than evaluation.\n\nTo adjust the size of the image output in this flow, double-click the **Image output** node. Image width is set to 300px by default."},{"id":"311bb16d.cc7ac6","type":"debug","z":"29f3b5e2.835642","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":140,"wires":[]},{"id":"774fe455.8a8ef4","type":"object-detector","z":"29f3b5e2.835642","service":"6e0bbb88.d0537c","method":"predict","passthrough":false,"annotated_input":true,"predict_body":"","predict_bodyType":"str","predict_threshold":"0.5","predict_thresholdType":"str","name":"","x":340,"y":140,"wires":[["311bb16d.cc7ac6","8b41edb7.dbd038","d755d72a.c33ca"]]},{"id":"9b9e3182.07e8e","type":"fileinject","z":"29f3b5e2.835642","name":"","x":120,"y":140,"wires":[["774fe455.8a8ef4"]]},{"id":"be87385f.2ffa7","type":"camera","z":"29f3b5e2.835642","name":"","x":110,"y":198,"wires":[["774fe455.8a8ef4"]]},{"id":"e4e0a28c.1f74","type":"comment","z":"29f3b5e2.835642","name":"Localize and identify multiple objects in a single image, then display the output","info":"","x":320,"y":40,"wires":[]},{"id":"36f6c0a1.300eb","type":"image","z":"29f3b5e2.835642","name":"","width":"600","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":650.5,"y":198,"wires":[]},{"id":"8b41edb7.dbd038","type":"function","z":"29f3b5e2.835642","name":"Extract Bounding Box Image Data","func":"// if the incoming message contains the annotated image\n// send it to the image output node to display\n\nmsg.payload = msg.annotatedInput;\nif (msg.payload) {\n    return msg;\n}","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["36f6c0a1.300eb"]]},{"id":"a4a1f6e7.ae059","type":"comment","z":"29f3b5e2.835642","name":"To adjust the size of the preview image, double-click the \"Image output\" node","info":"By default, the image width is set to 300px.","x":310,"y":77,"wires":[]},{"id":"d755d72a.c33ca","type":"function","z":"29f3b5e2.835642","name":"","func":"numberOfCars = 0;\nfor(var i=0;i<msg.details.predictions.length;i++)\n{\n    if(msg.details.predictions[i].label === \"car\")\n    {\n        numberOfCars = numberOfCars + 1;\n    }\n    \n}\n\nmsg.payload = {\n    numberOfCars : numberOfCars,\n    camName: \"cam2\",\n    lat:31.243023,\n    long: 29.962471\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":300,"wires":[["fad59b80.1c81e8","181d39ca.7695ae"]]},{"id":"fad59b80.1c81e8","type":"debug","z":"29f3b5e2.835642","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":500,"wires":[]},{"id":"181d39ca.7695ae","type":"wiotp out","z":"29f3b5e2.835642","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"8663dee5.6465d","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":730,"y":520,"wires":[]},{"id":"6e0bbb88.d0537c","type":"object-detector-service","z":"","host":"https://max-object-detector.codait-prod-41208c73af8fca213512856c7a09db52-0000.us-east.containers.appdomain.cloud","name":"cloud"},{"id":"8663dee5.6465d","type":"wiotp-credentials","z":"","name":"","org":"nc7r1n","serverName":"","devType":"Camera","devId":"cam1","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
