temp-humidity-sensor.json
[{"id":"9ae6e2ec.20f56","type":"tab","label":"Sensor Simulator","disabled":false,"info":""},{"id":"2862255c.443012","type":"function","z":"9ae6e2ec.20f56","name":"","func":"var tempVal = flow.get(\"tempVal\");\nvar humidVal = flow.get(\"humidVal\");\n\nmsg.payload = {\n    tempratureValue : tempVal,\n    humididityValue: humidVal,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":240,"wires":[["5ca0d113.aa3eb","b56eb106.4d5b3"]]},{"id":"3e244229.bb1176","type":"change","z":"9ae6e2ec.20f56","name":"","rules":[{"t":"set","p":"humidVal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":60,"wires":[[]]},{"id":"a09d4edf.cdd65","type":"change","z":"9ae6e2ec.20f56","name":"","rules":[{"t":"set","p":"tempVal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":140,"wires":[[]]},{"id":"5ca0d113.aa3eb","type":"debug","z":"9ae6e2ec.20f56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":200,"wires":[]},{"id":"235b6c7c.758f7c","type":"inject","z":"9ae6e2ec.20f56","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":240,"wires":[["2862255c.443012"]]},{"id":"b56eb106.4d5b3","type":"wiotp out","z":"9ae6e2ec.20f56","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"cd6c2dea.5bddd","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":960,"y":380,"wires":[]},{"id":"ef358b9b.8fe02","type":"ui_numeric","z":"9ae6e2ec.20f56","name":"","label":"Humidity","tooltip":"","group":"b264bbf7.86f5d","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"x":500,"y":60,"wires":[["3e244229.bb1176"]]},{"id":"864ec25b.73a62","type":"ui_numeric","z":"9ae6e2ec.20f56","name":"","label":"Temprature","tooltip":"","group":"b264bbf7.86f5d","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"x":510,"y":140,"wires":[["a09d4edf.cdd65"]]},{"id":"99636848.f4338","type":"inject","z":"9ae6e2ec.20f56","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"num","x":260,"y":120,"wires":[["ef358b9b.8fe02","864ec25b.73a62"]]},{"id":"cd6c2dea.5bddd","type":"wiotp-credentials","name":"","org":"9of1pe","serverName":"","devType":"RoomSensors","devId":"TemperatureAndHumidity1","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"b264bbf7.86f5d","type":"ui_group","name":"Weather","tab":"8241dc9a.4e882","order":1,"disp":true,"width":"6","collapse":false},{"id":"8241dc9a.4e882","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]