tempSensorFlow.json
[{"id":"6d68e949.c39c98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5ffb150e.f1aeac","type":"watson-text-to-speech","z":"6d68e949.c39c98","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"hB2nwdWH4YpQU1LOZRfJhIxAK0FzjThK803fToL34zad","payload-response":false,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/bc29f20d-46db-48d1-b0d4-7b2abfed1c6a","x":620,"y":300,"wires":[["55f6e580.a5cecc"]]},{"id":"400125d8.5873a4","type":"ibmiot in","z":"6d68e949.c39c98","authentication":"apiKey","apiKey":"f83756cb.9b30d8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":280,"wires":[["d6fa94d1.bef058"]]},{"id":"d6fa94d1.bef058","type":"rbe","z":"6d68e949.c39c98","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":250,"y":280,"wires":[["32f4c654.f6eaea"]]},{"id":"32f4c654.f6eaea","type":"function","z":"6d68e949.c39c98","name":"","func":"var temp = msg.payload.d.tempratureValue;\nvar maxThreshold = 30;\nif ( temp > maxThreshold){\n\tmsg.payload =\"There is a volcano. We know your location now and the help is on its way\";\n}\nelse {\n    msg.payload = \"you are ok\";\n}\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":280,"wires":[["35afa86c.0db64","5ffb150e.f1aeac"]]},{"id":"35afa86c.0db64","type":"debug","z":"6d68e949.c39c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":260,"wires":[]},{"id":"55f6e580.a5cecc","type":"play audio","z":"6d68e949.c39c98","name":"","voice":"","x":830,"y":300,"wires":[]},{"id":"f83756cb.9b30d8","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]
