tempSensorFlow.json
[{"id":"cb744005.39e168","type":"watson-conversation-v1","z":"6b5d2478.33622c","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":320,"y":280,"wires":[["959abacf.e50d48","35afa86c.0db64"]]},{"id":"959abacf.e50d48","type":"change","z":"6b5d2478.33622c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":360,"wires":[["5ffb150e.f1aeac"]]},{"id":"5ffb150e.f1aeac","type":"watson-text-to-speech","z":"6b5d2478.33622c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":520,"y":260,"wires":[["55f6e580.a5cecc"]]},{"id":"55f6e580.a5cecc","type":"play audio","z":"6b5d2478.33622c","name":"","voice":"","x":670,"y":200,"wires":[]},{"id":"400125d8.5873a4","type":"ibmiot in","z":"6b5d2478.33622c","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":300,"wires":[["d6fa94d1.bef058"]]},{"id":"d6fa94d1.bef058","type":"rbe","z":"6b5d2478.33622c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":130,"y":220,"wires":[["32f4c654.f6eaea"]]},{"id":"32f4c654.f6eaea","type":"function","z":"6b5d2478.33622c","name":"","func":"var temp = msg.payload.d.temp;\nvar maxThreshold = 30;\nif ( temp > maxThreshold){\n\tmsg.payload =\"There is a volcano\";\n}\nelse {\n    msg.payload = \"you are ok\";\n}\n\nreturn msg\n","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["cb744005.39e168"]]},{"id":"35afa86c.0db64","type":"debug","z":"6b5d2478.33622c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":180,"wires":[]}]
